<div class="container pt-4 pb-2 pe-2 ps-2">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="formulario/form" method="POST">
                        <div class="form-group">
                            <div class="row mx-auto">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="apellido" placeholder="Apellido" required>
                                </div>
                            </div>
                            <div class="row mx-auto pt-3">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="email" placeholder="Email" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="telefono" placeholder="Telefono" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 mx-auto pt-3 ">
                                    <input type="text" class="form-control" name="empresa" placeholder="Empresa" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 mx-auto pt-3">
                                    <textarea name="mensaje" id="" rows="5" class="form-control" placeholder="Mensaje" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 pt-3 mx-auto d-grid gap-2 ">
                                    <button type="post" class="btn btn-success">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>